{% extends 'base/main.html' %} 
{% block content %}

<div class="header-bar">
    <a href="{% url 'passwords' %}"><i class="fa-solid fa-arrow-left"></i>&#160; Back</a>
</div>


<div class="card-body">
    <form method="POST" action="">
        <h1>Password View</h1> 
        <p> <b>Title:</b> {{ object.siteTitle }}</p>
        <p> <b>link:</b> {{ object.websiteLink }}</p>
        <p> <b>user:</b> {{ object.websiteUser }}</p>
        <p> <b>email:</b> {{ object.websiteEmail }}</p>
        <p> <b>Password:</b> {{ object.websitePassword }}</p>
        <p> <b>Date:</b> {{ object.createDate }}</p>
    </form>
</div>

{% endblock content %}



<!-- <h1>Password: {{object}}</h1> -->