{% extends 'base/main.html' %} 
{% block content %}

<div class="header-bar" style="margin-top: 2rem;">
    <a href="{% url 'passwords' %}"><i class="fa-solid fa-arrow-left"></i>&#160; Back</a>
</div>


<div class="card-body">
    <form method="POST" action="">
        <h2>Password View</h2> 
        <p style="margin-left: 1rem;"> <b>Title:</b> {{ object.siteTitle }}</p>
        <p style="margin-left: 1rem;"> <b>link:</b> {{ object.websiteLink }}</p>
        <p style="margin-left: 1rem;"> <b>user:</b> {{ object.websiteUser }}</p>
        <p style="margin-left: 1rem;"> <b>email:</b> {{ object.websiteEmail }}</p>
        <p style="margin-left: 1rem;"> <b>Password:</b> {{ object.websitePassword }}</p>
        <p style="margin-left: 1rem;"> <b>Date:</b> {{ object.createDate }}</p>
    </form>
</div>

{% endblock content %}



<!-- <h1>Password: {{object}}</h1> -->