{% extends 'base/main.html' %} 
{% block content %}

<div class="header-bar" style="padding:0.5rem 2rem; margin-top:2rem; flex-direction: row-reverse;">
    {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout &#160;<i class="fa-solid fa-right-from-bracket"></i></a> 
    {% else %}
        <a href="{% url 'login' %}">Login</a> 
    {% endif %}
</div>

<h2 style="margin: 1rem 2rem">Hello, {{request.user|title}}!</h2>
<p style="margin: 1rem 2rem">What do you want to do today? :)</p>

<div class="upper-section-style">
    <input class="button" onclick="document.getElementById('id01').style.display='block'" type="submit" value="About"/>
    <!-- Modal "About" -->
    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
        <div class="w3-container">
            <span onclick="document.getElementById('id01').style.display='none'"class="w3-button w3-display-topright">&times;</span>
            <h4>This Password Manager was developed by:</h4>
            <br>
            <h6>Diógenes Souza - RA: 2848481813011 - GitHub: https://github.com/diogenes-souza</h6>
            <h6>Caroline Ushirobira - RA: 2840482213005 - GitHub: https://github.com/CarolEri</h6>
        </div>
        </div>
    </div>
    <!-- <input class="button" type="submit" value="Print"/> -->
    <a href="{% url 'expJson' %}" target="_blank"><input class="button" type="submit" value="Print"/></a>
</div>

<hr>

<h3>Passwords List:</h3>
<div id="search-add-wrapper">
    <form action="?" method="GET" style="display: flex;">
        <input type='text' name='search_' autocomplete="off" placeholder="Search your password" value="{{ request.GET.search_}}">
        <input class="button" type="submit" value='Search'>
    </form>
    {% if passwords|length > 0 %}
    <a id="add-link" href="{% url 'password-create' %}">&#x2b;</a>
    {% endif %}
</div>

<!-- Hidden form. Form submits new item positions -->
<form style="display: none" id="reorderForm" method="post" action="{% url 'password-reorder' %}">
    {% csrf_token %}
    <input type="hidden" id="positionInput" name="position">
</form>

<!-- <form method="GET">
    <input type='text' name='search-area' placeholder="Search your password" value="{{search_input}}">
    <input class="button" type="submit" value='Search'>
</form> -->

<!-- <table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>
    {% for Passwords in object_list %}
        <tr>
            <td>{{Passwords.siteTitle}}</td>

            
            <td>
                <a href="{% url 'password' Passwords.id %}">View</a>
            </td> 
            

            <td>
                <a href="{% url 'password-update' Passwords.id %}">Edit</a>
            </td>

            <td>
                <a href="{% url 'password-delete' Passwords.id %}">Delete</a>
            </td>
        </tr>
        {% empty %}
            <h3>No items in list</h3>
    {% endfor %}
</table> -->

<div id="password_list" class="password-items-wrapper">
    {% for Passwords in object_list %}
    <div class="password-wrapper" data-position="{{Password.pk}}">
        <div class="password-title">
            <a href="{% url 'password' Passwords.id %}">{{Passwords.siteTitle}}</a>
        </div>
        
        <div class="password-controls">
            <a class="update-link" href="{% url 'password-update' Passwords.id %}"><i class="fa-solid fa-pen-to-square"></i>&#160;&#160;</a>
            <a class="delete-link" href="{% url 'password-delete' Passwords.id %}"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>

    {% empty %}
    <div style="text-align: center; padding-bottom: 10px; line-height: 1em; margin: 1rem;">
        <h4>There are no passwords.</h4>
        <h4 style="margin-bottom: 1rem;">Create a new password <a style="color: #3d1eca;" href="{% url 'password-create' %}">Here</a>!</h4>
    </div>
    {% endfor %}

    <script>
        var passwordList = document.getElementById("passwordList");
        var reorderForm = document.getElementById("reorderForm");
        var positionInput = document.getElementById("positionInput");
    
        let sortable = Sortable.create(passwordList, {
            handle: '.handle',
            ghostClass: 'dropArea',
            chosenClass: 'selectedPassword',
        });
    
        function reordering() {
            const rows = document.getElementsByClassName("password-wrapper");
            let pos = [];
            for (let row of rows) {
                pos.push(row.dataset.position);
            }
            console.log(pos.join(","))
            positionInput.value = pos.join(',');
            reorderForm.submit();
        }
        document.ondrop = reordering
    </script>
</div>

{% endblock content %}